* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6fb;
    color: #172554;
}

.header {
    background: linear-gradient(135deg, #173b8f, #3d2b91);
    color: white;
    text-align: center;
    padding: 35px 20px;
}

.header h1 {
    font-size: 34px;
    margin-bottom: 10px;
}

.header p {
    font-size: 17px;
    opacity: 0.9;
}

.container {
    width: 92%;
    max-width: 1000px;
    margin: 35px auto;
}

.back {
    display: inline-block;
    text-decoration: none;
    color: #2563eb;
    font-weight: bold;
    margin-bottom: 25px;
}

.page-title {
    text-align: center;
    margin-bottom: 30px;
}

.page-title h2 {
    font-size: 30px;
    margin-bottom: 8px;
}

.page-title p {
    color: #64748b;
    font-size: 16px;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.course-card {
    background: white;
    border-radius: 20px;
    padding: 30px;
    text-decoration: none;
    color: #172554;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    transition: 0.25s;
    border-top: 5px solid #315bdc;
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.12);
}

.course-icon {
    font-size: 45px;
    margin-bottom: 15px;
}

.course-card h3 {
    font-size: 25px;
    margin-bottom: 8px;
}

.course-card p {
    color: #64748b;
    line-height: 1.6;
}

.semester-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.semester-card {
    background: white;
    border-radius: 18px;
    padding: 25px 20px;
    text-align: center;
    text-decoration: none;
    color: #172554;
    box-shadow: 0 7px 22px rgba(0,0,0,0.08);
    transition: 0.25s;
    border-left: 5px solid #315bdc;
}

.semester-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 28px rgba(0,0,0,0.12);
}

.semester-number {
    font-size: 32px;
    font-weight: bold;
    color: #2563eb;
    margin-bottom: 8px;
}

.semester-card h3 {
    font-size: 19px;
}

.footer {
    text-align: center;
    padding: 30px 20px;
    margin-top: 50px;
    background: #172554;
    color: white;
}

@media (max-width: 700px) {

    .header h1 {
        font-size: 27px;
    }

    .course-grid {
        grid-template-columns: 1fr;
    }

    .semester-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .semester-card {
        padding: 22px 12px;
    }

    .semester-number {
        font-size: 27px;
    }
}
